* {
    margin: 0;
    padding: 0;
}
body {
    background-color: aliceblue;
}


.title {
    font-family: 'Times New Roman', Times, serif;
}

#board {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 100px auto ;
    border: 2px solid rgb(179, 143, 143);
    box-shadow: 10px 10px;
    width: 70%;
}

.cell {
    border: 1px solid whitesmoke;
}